.menuButton {
  position: absolute;
  top: rem(8px);
  right: rem(8px);
  backdrop-filter: blur(10px);
}

.menuDropdown {
  border: none;
  background-color: rgba(41, 11, 29, 0.85);
  backdrop-filter: blur(10px);
}

.menuItem {
  &:hover {
    background-color: rgba(123, 2, 77, 0.6);
  }
}
