.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(16px);
  height: 70vh;
  width: 100%;
  margin-block-end: rem(16px);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    height: auto;
  }
}
