.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(16px);
  height: rem(64px);
  width: 100%;
  margin-block-end: rem(16px);

  > div {
    flex: 1;
  }

  ul {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $mantine-breakpoint-sm) {
      display: none;
    }

    li {
      height: 100%;

      a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: rem(16px);
        color: var(--mantine-color-light-0);
        font-weight: 600;
      }
    }
  }
}
