html {
  scroll-behavior: smooth;
}

body {
  margin: rem(16px);
}

.box {
  height: 100%;
  padding: rem(16px);
  background-color: var(--mantine-color-dark-6);
  border-radius: rem(16px);

  &.w {
    width: 100%;
  }
}

.mantine-Notification-root {
  background-color: var(--mantine-color-dark-5);

  .mantine-Notification-description {
    color: var(--mantine-color-white);
  }
}
