html {
  scroll-behavior: smooth;
}

.box {
  padding: rem(16px);
  background-color: var(--mantine-color-dark-6);
  border-radius: rem(16px);

  &.w {
    width: 100%;
  }

  &.h {
    height: 100%;
  }
}

.menuItem {
  min-height: rem(64px);
  text-decoration: none;
  border-radius: rem(16px);

  &:hover,
  &.active {
    background-color: var(--mantine-color-dark-4);
  }

  &:active {
    transform: scale(0.98);
  }

  .hoverText {
    display: none;
  }

  &:hover {
    .hoverText {
      display: block;
    }
  }

  @mixin smaller-than $mantine-breakpoint-md {
    .hoverText {
      display: block;
    }
  }
}

.menuItemIcon {
  flex-shrink: 0;
}

.mantine-Notification-root {
  background-color: var(--mantine-color-dark-5);

  .mantine-Notification-description {
    color: var(--mantine-color-white);
  }
}

.hub-navbar {
  @mixin smaller-than $mantine-breakpoint-sm {
    --app-shell-navbar-width: rem(96px);
  }

  @mixin larger-than $mantine-breakpoint-sm {
    --app-shell-aside-offset: rem(0);
  }

  &&& {
    .hub-navbar-header {
      right: 0 !important;
    }
  }
}

.mantine-Pill-root {
  background: var(--mantine-color-body);
}

.mantine-focus-auto:focus-visible,
.mantine-focus-always:focus {
  outline: 2px solid white;
  border-radius: 0.9em;
}

.mantine-InputWrapper-label {
  margin-bottom: rem(4px);
  margin-left: rem(4px);
}
