.optionSelector {
  border: none;
  padding-block: rem(12px);
  cursor: pointer;
}

.optionDropdown {
  border: none;
  border-radius: rem(8px);
  background-color: rgba(41, 11, 29, 0.85);
  backdrop-filter: blur(10px);
}

.optionItem {
  &:hover {
    border-radius: rem(6px);
    background-color: rgba(123, 2, 77, 0.6);
  }
}
