.videoContainer {
  display: flex;
  flex-direction: column;
  padding: rem(4px);
  background-color: var(--mantine-color-dark-6);
  border-radius: rem(20px);
}

.imageContainer {
  position: relative;
  overflow: hidden;

  img {
    aspect-ratio: 16 / 10;
  }

  .pillStack {
    position: absolute;
    bottom: rem(4px);
    left: rem(4px);
  }
}

.favoriteButton {
  position: absolute;
  top: rem(4px);
  left: rem(4px);
}

.playButtonContainer {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  padding: rem(4px) 0 0 rem(4px);
  border-top-left-radius: rem(20px);
  background-color: var(--mantine-color-dark-6);

  .playButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(48px);
    height: rem(48px);
    padding: 0;
    border-radius: rem(16px);
    font-size: rem(32px);
    font-weight: normal;
    font-family: var(--font-frankfurter);
    color: var(--mantine-color-white);
    transform: rotate(-90deg);
    background: var(--mantine-primary-color-filled);

    &:hover {
      background: var(--mantine-primary-color-filled-hover);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: rem(30px);
    width: rem(30px);
    box-shadow: 0 rem(20px) 0 0 var(--mantine-color-dark-6);
  }

  &:before {
    top: rem(-30px);
    right: rem(-1px);
    border-bottom-right-radius: rem(16px);
  }

  &:after {
    bottom: 0;
    left: rem(-30px);
    border-bottom-right-radius: rem(16px);
  }
}

.videoInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: rem(4px);
  padding: rem(4px) 0;
}

.tags {
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: rem(4px);
  margin-top: rem(2px);
  margin-inline: rem(4px);

  /* hide scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
  scrollbar-width: none;
}
